body {
    font-family: 'Inika';
}

.header {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
    padding: 20px;
}

.header-span1 {
    color: #3E45E8;
}

.header-span2 {
    color: #E8C23E;
}

.banner {
    background-image: url(./img/image\ 1.png);
    height: 803px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 206px;
    box-sizing: border-box;
    padding-left: 50px;

}

.content {
    padding-top: 1%;
    box-sizing: border-box;
    height: 439px;
    background-image: url(./img/flag.png);
    background-repeat: no-repeat;
    font-size: 48px;
    color: white;
    width: 40%;
    padding-left: 36px;
}

.main {
    padding: 0 80px;
}

.h1 {
    margin: 72px 0;
    font-size: 40px;
    font-weight: 700;
}

.line {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    color: #3E45E8;
}

.card {
    border: 1px solid black;
    width: 30%;
    color: #1E8DF2;
    display: inline-block;
    vertical-align: top;
    border-radius: 60px;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.card-img {
    width: 100%;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    padding: 15px;
    box-sizing: border-box;
}

.card-subtitle {
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;
    padding: 15px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.card-margine {
    margin: 0 4.5%;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column
}

.img {
    text-align: center;
}

.link {
    border-width: 14px;
    width: 591px;
    height: 100px;
    background: #2A61F0;
    color: white;
    display: inline-block;

    font-size: 64px;
    font-weight: 700;
    line-height: 101px;
    letter-spacing: 0em;

}

.support {
    text-align: center;

}

.bottom_bar {
    background: #2F4A4B;
    ;
}

.mail {
    padding: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #9fa89d;
}

.tel {
    padding: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #9fa89d;
}

.icon {
    display: inline-block;
}

.icons {
    text-align: center;
    padding: 20px;
}