html {
    font-size: 10px;
}

body {
    font-family: Poppins;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0 auto;
}

header {
    background-color: #000000;
}

.header {
    min-width: 800px;
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #000000;
}

.icon {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 3.6rem;
    width: 30%;
}

div.header>div>a,
div.icons>div>a {
    text-decoration: none;
    color: #FFFFFF;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 2rem;
    width: 40%;

}

.blok1 {
    background-color: #000000;
}


.content {
    background-color: #000000;
    min-width: 800px;
    max-width: 1400px;
    height: 60vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.text-content {
    width: 50%;
    height: 650px;
    padding-top: 15rem;
    padding-left: 15rem;
    overflow: hidden;

}


.big-text {
    height: 25%;
    font-size: 6rem;
    line-height: 72px;
    overflow: hidden;
}

span {
    color: #FFBB00;

}

.text {
    height: 15%;
    font-family: 'Roboto';
    font-size: 2.3rem;
    font-weight: 400;
    color: #B2B2B2;
    overflow: hidden;

}

.orange-button {

    text-align: center;
    height: 6rem;
    width: 20rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
    color: #332200;
    background-color: #F6AD09;
    font-size: 1.8rem;
    padding: 2rem;
    overflow: hidden;
    box-sizing: border-box;

}

.img1 {
    width: 50%;
    height: 800px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
}

.header {
    min-width: 800px;
    max-width: 1400px;
}

.h {
    display: flex;
    width: 90%;
    margin-top: 20rem;
    margin-bottom: 7rem;
    font-size: 6.4rem;
    color: #111111;
    overflow: hidden;
    margin-left: 10rem;
}

.blok2 {
    min-width: 800px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 100%;
    align-items: center;
    height: 70rem;
    overflow: hidden;
}

.card-img {
    overflow: hidden;

}

.name {
    font-size: 3.2rem;
    color: #111111;
    overflow: hidden;

}

.name>ul {
    margin-bottom: 3px;
    padding-left: 0px;
}

li {
    list-style: none;
}

.name li::before {
    content: "";
    display: inline-block;
    background-image: url(./img/Rectangle_2.png);
    width: 22px;
    height: 10px;
    margin: 3px 5px 4px 0px;

}

.code {

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.8rem;
    color: #595959;
    overflow: hidden;
}

.card-2 {
    padding: 0 4rem;
}

.width2 {
    margin-top: 15rem;
    width: 100%;
    background-color: #000000;
    position: relative;
    box-sizing: border-box;
}

.blok3 {
    width: 100%;
    background-color: #000000;
    min-width: 800px;
    max-width: 1400px;
    height: 90vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 15rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.blok3>.content2>.big-text {
    height: 27%;
}

.blok3>.content2>.text {
    height: 16%;
}

.content2 {

    width: 60rem;
}



.tech {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    color: #B2B2B2;
    padding-top: 8rem;
    padding-bottom: 3rem;
    overflow: hidden;
}

.text-line {
    width: 10%;
    width: 27rem;
    font-size: 24px;
    color: #FFBB00;
    border-bottom: 5px solid #FFBB00;
    padding-top: 5rem;
    overflow: hidden;

}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.marker {
    width: 50%
}

.title {
    padding-top: 5rem;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    overflow: hidden;
}

.title-content {
    font-family: 'Roboto';
    color: #B2B2B2;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
}

.title>ul {
    padding-left: 0px;
}

.title li::before {
    content: "";
    display: inline-block;
    background-image: url(./img/Rectangle_2.png);
    width: 22px;
    height: 10px;
    margin: 3px 5px 4px;
}




.brands {
    display: flex;
    min-width: 800px;
    max-width: 1400px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    width: 100%;
}

.brand {
    width: 349px;
    height: 135px;
}

.brands>.brand>img:hover {
    width: 400px;
    height: 200px;
    position: absolute;
}

.block4 {
    min-width: 800px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.blok5 {
    background-color: #FFBB00;

}

.content5 {
    height: 68rem;
    min-width: 800px;
    max-width: 1400px;
    margin: 10rem auto 0;
    display: flex;
    position: relative;
    overflow: hidden;

}

.photo {
    height: 100%;
    overflow: hidden;
    width: 45%;
}

.block_orange_text {
    background-color: #FFBB00;
    width: 55%;
}

.blok5-text {
    margin-top: 30rem;
    margin-left: 0;
    overflow: hidden;
    height: 50%;

}

.orange {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #332200;
    height: 70%;
    overflow: hidden;
}

.autor {
    padding-top: 2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #664400;
}

.block_orange_text {
    display: flex;
}

.strike1 {
    margin-top: 29rem;
    margin-left: 7rem;
    margin-right: 0;
    overflow: hidden;

}

.strike2 {
    margin-top: 52rem;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

.width6 {
    width: 100%;
    background-color: #161616;
}

.blok6 {
    min-width: 800px;
    max-width: 1400px;
    height: 80rem;
    margin: 0 auto;
    background-color: #161616;
}

#Seguros {
    font-size: 6.4rem;
    color: #FFFFFF;
    display: flex;
    justify-content: start;
    width: 90%;
    padding: 5rem;
    overflow: hidden;
}

.box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.box-flex1 {
    display: flex;
    background-color: #000000;
    height: 65%;

}

.box-flex2 {
    display: flex;
    background-color: #000000;

}

.box-flex1:hover {
    width: 60rem;
    height: 50rem;
}

.box-flex1:hover .list-name1 {
    color: #FFBB00;
}

.box-flex2:hover {
    width: 75rem;
    height: 58rem;
}

.box-flex2:hover .list-name2 {
    color: #FFBB00;
}

.box-list1 {
    width: 35rem;
    height: 42rem;
    box-sizing: border-box;
}

.box-list2 {
    width: 45rem;
    height: 52rem;
    box-sizing: border-box;
}

.list-name1 {
    color: #9C9C9C;
    font-size: 36px;
    line-height: 48px;
    margin-top: 3rem;
    margin-left: 7rem;

}

.list-name2 {
    color: #9C9C9C;
    font-size: 36px;
    line-height: 48px;
    margin-top: 3rem;
    margin-left: 7rem;
}


.box-marker {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    color: #FFFFFF;
}

.box-marker>li::before {
    content: "";
    display: inline-block;
    background-image: url(./img/Rectangle_2.png);
    width: 22px;
    height: 5px;
    margin: 3px 5px 4px 0px;
}

.box-btn {
    width: 17rem;
    height: 5rem;
    background-color: #2E2E2E;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    color: #CCCCCC;
    text-align: center;
    padding-top: 2rem;
    margin-left: 7rem;
    margin-bottom: 5rem;
}

.price {
    font-size: 36px;
    line-height: 48px;
    margin-right: 3rem;
    margin-top: 3rem;
}

.price-mensal {
    font-size: 12px;
    line-height: 16px;
    color: #9C9C9C;
    margin-right: 3rem;
    text-align: end;
}

.width7 {
    width: 100%;
    background-color: #000000;
}

.footer {
    min-width: 800px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #000000;
    height: 400px;

}

.footer-contacts {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-top: 5rem;
}

.footer-title {
    font-weight: 500;
    font-size: 3.6rem;
}

#bikcraft2>a {
    color: white;
    text-decoration: none;
}


.title-contact {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.info-contact {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #B2B2B2;
}

.info-contact>a {
    text-decoration: none;
    color: #B2B2B2;
}

.icon-contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    width: 80%;

}

.info-list {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;

}

.info-list>ul {
    padding-left: 0;
}

.info-list>ul>li>a {
    color: #B2B2B2;
    text-decoration: none;
}

.info-list>ul>li>a:hover {
    color: #FFBB00;
}

.end {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #9C9C9C;
    padding-left: 75rem;
    padding-bottom: 5rem;

}