header {
    height: 200px;
    width: 800px;
    border: 3px solid rgba(241, 3, 162);
    box-sizing: border-box;
    
}

main {
    display: flex;
    
}
nav {
    height: 400px;
    width: 100px;
    border: 3px solid rgb(241, 16, 16);
    box-sizing: border-box;
    
}

section {
    height: 400px;
    width: 700px;
    border: 3px solid rgb(241, 16, 16);
    padding-left: 30px;
    font-size: 40px;
    box-sizing: border-box;
}

footer {
    height: 200px;
    width: 800px;
    border: 3px solid black;
    box-sizing: border-box;
    
}