@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=M+PLUS+1p&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #F5F5F5;
}

header {
    position: sticky;
    top: 0px;
    z-index: 2;
    
}

.header {
    height: 9rem;
    background-color: #202846;
    color: white;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
}


.header-img1 {
    width: 30%;
    text-align: center;
}

.header-img2 {
    width: 10%;

}

.menu {
    display: inline-block;
    text-align: center;
    width: 60%;
    display: flex;
}

.menu>div:hover {
    color: #AEAEE2;
}

.icons {
    display: inline-block;
    padding: 2rem;
    box-sizing: border-box;
    vertical-align: middle;

}

.main {
    position: relative;
}

.categories {
    background-color: #C6C6DC;
    color: #202846;
    font-size: 4rem;
    font-style: italic;
    height: 14rem;
    padding-left: 23rem;
    display: flex;
    align-items: center;

}

.place {
    width: 80%;
    height: 7rem;
    background-color: #dedada;
    display: flex;
    align-items: center;
    font-size: 2.8rem;
    margin: 6rem auto;
}

.place-text {
    margin: auto;
}

.place-img {
    text-align: right;
    margin-right: 1rem;
}


.build {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.card {
    height: 300px;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}


.card:hover {
    background: #AEAEE2;
}

.card:hover a {
    background-color: #EF075B;
}

.card:hover .card-star_style {
    fill: #FFFF00;
}

.card__img {
    width: 35%;
    height: 80%;
    overflow: hidden;
}

.card__img img {
    height: 100%;
}

.card__content {
    width: 50%;
    height: 80%;
    overflow: hidden;
    
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

.card__content-description {
    font-size: 2.2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
    
}

.card-star,
.card-btn {
    position: absolute;
}

.card-star {
    right: 1rem;
    top: 1rem;
}

.card-btn {
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.botton-up {
    position: fixed;
    right: 5.5rem;
    top: 66rem;
}

main>section:nth-child(6) {
    margin-bottom: 25rem;
}

.cabinet {
    background-color: #BDBDC6;
    height: 48rem;
    margin: 4rem 28rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.cabinet-avatar {
    width: 20%;
    text-align: center;
    align-items: center;

}


.cabinet-bottom1 {

    background-color: #69749B;
    color: #FFFFFF;
    font-size: 2.4rem;
    height: 3.5rem;
    width: 21rem;
    display: inline-block;
    text-align: center;
    border-radius: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cabinet-bottom2 {
    background-color: #484A54;
    color: #FFFFFF;
    font-size: 2.4rem;
    height: 3.5rem;
    width: 21rem;
    display: inline-block;
    text-align: center;
    border-radius: 5rem;

}

.cabinet-rersonal {
    width: 50%;
}

.cabinet-info {
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid white;
}

.cabinet-info-last {
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

.input {
    text-align: center;
    background-color: #202846;
    color: #FFFFFF;
    font-size: 3rem;
    height: 4rem;
    width: 15rem;
    border-radius: 5rem;
    margin: 4rem auto 14rem auto;

}

.contacts {
    width: 70%;
    margin: 7rem auto;
    display: flex;
    justify-content: space-evenly;

}

.box {}

.contacts-title {
    font-size: 3.2rem;
    border-bottom: 1px solid black;
}

.information {
    font-size: 3rem;
    color: #000000;
}

footer {
    display: flex;
    align-items: center;
    background-color: #202846;
    height: 9rem;
    color: white;
    font-style: italic;
    font-size: 4rem;
    padding-left: 6rem;

}