.main {
    margin: 10px auto;
}

.dia {
    margin-right: 50px;
    box-sizing: border-box;
    width: 512px;
    height: 512px;
    background-color: #000000;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: #030003;
    display: inline-block;
    vertical-align: top;
}

.vector {
    padding: 128px 101px 32px 101px;
}

.img {
    width: 100%;
}

.flag {
    padding: 0px 216px 0px 216px;
}

.square {
    margin-right: 50px;
    box-sizing: border-box;
    width: 512px;
    height: 512px;
    background-image: url(./img/Speechify\ -\ Square.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid black;
    color: #030003;
    display: inline-block;
    vertical-align: top;

}

.squere_pad {
    padding: 144px 60px
}

.background {
    box-sizing: border-box;
    border: 1px solid black;
    width: 512px;
    height: 512px;
    background-color: white;
    border: 1px solid black;
    color: #030003;
    display: inline-block;
    vertical-align: top;
}

.circle {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 100%;
    margin: 50px 50px;
    width: 400px;
    height: 400px;
    background-image: url(./img/Speechify\ -\ Square.png);
    background-size: 100%;
}

.img_circle {
    padding-top: 87px;
    width: 100%;
}