@import url(./animation.css);

:root {
    font-size: 10px;
}

body {
    margin: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0px;
    z-index: 6;
    border: 3px solid black;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    border-bottom: none;
    border-top: none;
}

main>div:nth-child(1) {
    border-top: none;
}

header .logo {
    align-self: stretch;
}

header .logo img {
    height: 10vh;
}

.nav {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    margin-right: 2rem;
    margin: 0;
    padding: 0;
    padding-right: 3rem;

}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 3.6rem;
}

/*screen 1*/
.screen {
    min-height: 90vh;
    border: 3px solid black;
    box-sizing: border-box;
    overflow: hidden;
}

.box {
    display: flex;
    height: 90vh;
    justify-content: space-between;
}

.box>div {
    width: 23%;
    text-align: center;
    align-self: center;
}

.box img {
    width: 90%;
    align-self: center;

}

.left-one {
    transform: translateX(100vh);
    animation: img-show-left 2s linear 1 forwards;
}

.right-one {
    transform: translateX(100vh);
    animation: img-show-right 2s linear 1 forwards;
}

.left-two1,
.left-two2 {
    transform: translateX(-100vh);
    animation: img-show-left 1s linear 1 forwards;
}

.right-two1,
.right-two2 {
    transform: translateX(-100vh);
    animation: img-show-right 1s linear 1 forwards;
}

.left-two,
.right-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-two>div:first-child {
    height: 40%;
    margin-bottom: 1.5rem;
}

.left-two>div:last-child {
    height: 40%;
}

.right-two>div:first-child {
    height: 40%;
    margin-bottom: 1.5rem;
}

.right-two>div:last-child {
    height: 40%;
}


/*screen 2*/
.services {
    display: flex;
}

.services .left {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    margin-top: 40px;
}

.services .left>div {
    height: 50%;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.c {

    z-index: 4;
}

.c>img {
    width: 80%;
}

.circle>p {
    z-index: 3;
}

p {
    width: 360px;
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.c+p {
    text-align: center;
}

.services .right {
    width: 40%;
}

.bg {
    width: 100%;
    height: 100%;
}

.bg_img {
    width: 100%;
    height: 100%;
}

.circle-one {
    top: 0;
    left: 0;
    animation: c1 10s linear infinite;
}

.circle-two {
    top: 0;
    left: 50%;
    animation: c2 10s linear infinite;
}

.circle-three {
    top: 50%;
    left: 50%;
    animation: c3 10s linear infinite;
}

.circle-four {
    top: 50%;
    left: 0;
    animation: c4 10s linear infinite;
}

/*screen 3*/

.title {
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 40px;
}

.tims {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
}

.tims>div {
    position: relative;
    display: flex;
}

.tims:hover>div {
    filter: brightness(.5);
}

.tims>div:hover {
    filter: none;
}

.name {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    color: #FFFAFA;
    border-radius: 0 0 42px 42px;
}

.tims .name {
    position: absolute;
    background: hsla(29, 88%, 34%, 0.70);
    bottom: 0;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
    overflow: hidden;

}

.tims>div:hover .name {
    height: 155px;
}

/*screen 4*/

.title-forms {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 60px;
}

.title2 {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    width: 850px;
    height: 170px;
}

.forms {
    background-color: #E5E5E5;
    width: 850px;
    height: 400px;
}

.title2 .forms {
    width: 850px;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
    border: none;
    padding: 0;
}

fieldset>:nth-child(1),
fieldset>:nth-child(2) {
    width: 45%;
    height: 80px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    border: none;
}

fieldset>:nth-child(3) {
    width: 95%;
    height: 200px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    border: none;
    resize: none;
}

.map {
    width: 600px;
    height: 570px;
}

iframe {
    height: 100%;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.contacts,
.opening,
.connect {
    width: 30%;
    text-align: center;
    color: #000000;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

span {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

a {
    text-decoration: none;
    color: #000000;
}

@media screen and (min-width : 993px) {
    body {
        max-width: 1920px;
        margin: 0 auto;
    }
}

@media screen and (min-width : 769px) and (max-width : 992px) {

    /*screen 1*/

    .box {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }


    .box>div {
        width: 48%;
    }

    .left-one {
        order: 1;
        transform: translateX(100vh);
        animation: img-show-left 1s linear 1 forwards;
    }

    .left-two {
        display: flex;
        order: 3;
    }

    .right-two {
        display: flex;
        order: 4;
    }

    .right-one {
        order: 2;
        transform: translateX(100vh);
        animation: img-show-right 1s linear 1 forwards;
    }

    .left-two>div:first-child {
        height: 100%;
        margin-bottom: 0;

    }

    .right-two>div:first-child {
        height: 100%;
        margin-bottom: 0;

    }

    .left-two>div:last-child {
        height: 100%;
    }

    .right-two>div:last-child {
        height: 100%;
    }

    /*screen 2*/

    .services {
        height: auto;
        flex-direction: column-reverse;
        flex-wrap: wrap;

    }

    .services .right {
        width: 100%;
    }

    .services .left {
        width: 100%;
        height: 1000px;

    }

    /*screen 3*/

    .title {

        height: 40px;
        font-size: 30px;
        line-height: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tims {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
    }

    /*screen 4*/

    .footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .screen {
        min-height: 0;
    }

    .title-forms>:first-child {
        display: none;
    }

    .contacts,
    .opening,
    .connect {
        font-size: 20px;
        line-height: 25px;
    }

    span {
        font-size: 20px;
        line-height: 25px;

    }

    .opening {
        margin-left: 60px;
    }

}



@media screen and (max-width : 768px) {

    /*screen 1*/

    .left-one,
    .left-two1,
    .left-two2,
    .right-two1,
    .right-two2,
    .right-one {
        width: 100%;
    }

    .box {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .box>div {
        width: 100%;
    }

    .left-one {
        transform: translateX(100vh);
        animation: img-show-left 1s linear 1 forwards;
    }

    .left-two1 {
        transform: translateX(-100vh);
        animation: img-show-right 2s linear 1 forwards;

    }

    .left-two>div:first-child {
        margin-bottom: 0;
    }

    .left-two2 {
        transform: translateX(-100vh);
        animation: img-show-left 3s linear 1 forwards;
    }

    .right-two1 {
        transform: translateX(-100vh);
        animation: img-show-right 4s linear 1 forwards;
    }

    .right-two2 {
        transform: translateX(-100vh);
        animation: img-show-left 5s linear 1 forwards;
    }

    .right-two>div:first-child {
        margin-bottom: 0;
    }

    .right-one {
        transform: translateX(100vh);
        animation: img-show-right 6s linear 1 forwards;
    }

    /*screen 2*/

    .bg {
        display: none;
    }

    .services .left {
        width: 290%;
    }

    .c>img,
    p {
        width: 150px;
        height: auto;
        margin: 0 auto;
    }

    /*screen 3*/

    .title {

        height: 40px;
        font-size: 30px;
        line-height: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tims {
        display: block;
        height: auto;
        margin: 0 auto;

    }

    .tims,
    .name,
    .tims>div>img {
        width: 404px;
    }

    .tims>div:hover .name {
        height: 0;
    }

    .tims>div:active .name {
        height: 155px;
    }

    /*screen 4*/

    .title-forms {
        padding-top: 1rem;
    }

    .title-forms>:first-child {
        display: none;
    }

    .contacts,
    .opening,
    .connect {
        font-size: 20px;
        line-height: 25px;
    }

    span {
        font-size: 20px;
        line-height: 25px;

    }

    .opening {
        margin-left: 60px;
    }

}