body {
    margin: 0 auto;
}

.gradient {
    background: linear-gradient(to right,
            #3E718E, #64969B);
    height: 100vh;
    padding: 100px;
}

.box {
    display: flex;
    justify-content: center;

}

.form-box {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 900px;
    width: 650px;
    box-sizing: border-box;
    overflow: hidden;

}

.logo {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.h1 {
    text-align: center;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    color: #000000;
}

.form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}

label {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

input {
    height: 30px;
    width: 500px;
}

input[type] {
    font-size: 20px;
}

.info {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #A8A8A8;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 500px;
    background-color: #27485D;
    border: 1px #284A5E;
    border-radius: 5px;
    margin: 40px auto;
    box-sizing: border-box;
}

.btn>a {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #C4C4C4;
}

.login>a {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #476D73;
    text-decoration-line: underline;

}

.creativity {
    height: 900px;
    width: 550px;
    box-shadow: -4px 2px 23px 5px #4E7577;
    background: linear-gradient(to right, #517879, #214159);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60px;
}



.icons {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    width: 25%;
}

.icons>a {
    color: #FFFFFF;
    text-decoration: none;
}

.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;

}

.text-content {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    width: 58%;
}

.autor {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    width: 58%;
}