body {
    margin: 0 auto;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    display: grid;
    grid-template-columns: 410px 350px 350px;
    grid-template-rows: 160px 163px 65px 141px;
    background-color: #f5bb8b;
    gap: 35px;
    justify-content: center;
    position: relative;
    align-content: center;
    padding: 100px;
    border-radius: 20px;
}

main div {
    background-color: white;
}

.about {
    grid-row: 1/4;
    grid-column: 1/2;
    height: 500px;
}

.quote {
    grid-row: 4/5;
    grid-column: 1/2;
    margin-top: 45px;
}

.bio {
    grid-row: 1/2;
    grid-column: 2/4;
}

.goals {
    grid-row: 2/3;
    grid-column: 2/3;
}

.dream {
    grid-row: 3/5;
    grid-column: 2/3;
}


.frustrations {
    grid-row: 2/4;
    grid-column: 3/4;
}

.personality {
    grid-row: 4/5;
    grid-column: 3/4;
}


.about {
    
    font-size: 20px;
    line-height: 22px;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
}

.about>div {
    margin: 20px 40px;
}

.image {
    text-align: center;
}

.image>img {
    width: 53%;
}

.about>:first-child {
    font-weight: 700;
    font-size: 35px;
    line-height: 37px;
    text-align: center;
}

span {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.bio {
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
}

.bio>div {
    margin: 20px 40px;
}

.bio>:first-child {
    font-weight: 700;
}

.goals {
    box-shadow: 7px 7px 0px #29A71E;
    border-radius: 20px;
}

.goals>div {
    margin: 20px 40px;
}

.goals>:first-child {
    color: #29A71E;
    font-weight: 700;
}

.frustrations {
    border-radius: 20px;
    box-shadow: 7px 7px 0px #E13535;
}

.frustrations>div {
    margin: 20px 40px;
}

.frustrations>:first-child {
    font-weight: 700;
    color: #E13535;
}

.quote {
    padding: 20px 40px;
    font-weight: 700;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
}

.dream {
    padding: 20px 40px;
    box-shadow: 7px 7px 0px #3675B0;
    border-radius: 20px;

}

.dream>:first-child {
    font-weight: 700;
    color: #3675B0;
}

.personality {
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    padding: 20px 40px;

}

.personality>:first-child {
    margin-bottom: 20px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000000;
}